@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Normal Classes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  color: black;
  padding: 10px 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(
    to right bottom,
    #edc0e9,
    #c3d3ff,
    #7ce9ff,
    #5ef9f7,
    #a1ffbd
  );
  border-radius: 15px;
  /* padding: 10px 10px; */
  overflow: hidden;
  padding: 10px 20px 10px 20px;
}

img {
  width: 100%;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
header h4 {
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #111;
}
header {
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 15px;
}
.todos {
  margin-top: 20px;
}

.todo {
  max-width: 80%;
  margin: auto;
  justify-content: space-between;
  background-image: linear-gradient(
    to right bottom,
    #f1ffdc,
    #ddfee1,
    #cbfdea,
    #bdfaf4,
    #b5f5ff
  );
  padding: 0px 12px;
  border-radius: 25px;
  border: 0.1px solid #999;
  margin-bottom: 12px;
  position: relative;
}
.todo p {
  color: #433;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.5px;
}
.buttons {
  padding: 5px 0;
}
.buttons .edit {
  margin-right: 12px;
  color: #2c0cbd;
}
.buttons .completed {
  margin-right: 12px;
  color: #00bf72;
}

.buttons .delete {
  color: red;
}

i {
  transition: all 0.4s ease-in-out;
  transform: scale(1.2);
}

i:hover {
  cursor: pointer;
  transform: scale(1.3) translateY(-3px);
}
main {
  max-width: 95%;
  margin: auto;
}

input {
  border: 0;
  padding: 5px 14px;
}
input:focus {
  outline: 0;
}

input[type="text"] {
  width: 80%;
  font-size: 1.2em;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

input[type="submit"] {
  width: 20%;
  font-size: 0.9em;
  font-weight: bold;
  color: #333;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  padding: 8.5px 0px;
  transform: translateY(-2.2px);
}

.line {
  width: 70%;
  position: absolute;
  height: 2.3px;
  background-color: #333;
}

.alert {
  text-align: center;
  margin: 15px;
  font-size: 1.1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 5px;
}
.error {
  color: #363636;
  background: #ffb7b7;
}
.success {
  color: #363636;
  background: #b7ffc7;
}

@media screen and (max-width: 600px) {
  body {
    padding: 10px 4px;
  }
  .container {
    border-radius: 10px;
    padding: 10px 2px 10px 2px;
  }
  header h4 {
    text-align: center;
    font-size: 1.3em;
    letter-spacing: 3px;
  }

  input[type="text"] {
    font-size: 0.8em;
  }

  input {
    padding: 5px 10px;
  }

  input[type="submit"] {
    font-size: 0.75em;
    padding: 6px 0px;
    transform: translateY(-1px);
  }
  .todo {
    max-width: 98%;
    padding: 0px 8px;
    border-radius: 25px;
    margin-bottom: 12px;
  }
  .todo p {
    font-size: 0.9em;
  }
}
